/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */


@font-face {
    font-family: 'pier_sanslight';
    src: url('../fonts/pier-sans/piersans-light-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansregular';
    src: url('../fonts/pier-sans/piersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansmedium';
    src: url('../fonts/pier-sans/piersans-medium-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansbold';
    src: url('../fonts/pier-sans/piersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansblack';
    src: url('../fonts/pier-sans/piersans-black-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 6.5px;
  }
  ::-webkit-scrollbar-track {
    background: #000;
    
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #E50914;
  }

*{box-sizing: border-box; text-decoration: none;}
body{background: #141414; font-family: 'pier_sansregular'; color: #fff; overflow-x: hidden;}
main{width: 100%; max-width: 1200px; height: auto; margin: 0 auto; padding: 0; }

/* Header Styles */
header{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex: 0 0 100%; width: 100%; height: 65px; padding: 0 0 0 60px; background: transparent; position: fixed; top: 0; left: 0; z-index: 100000;}
.homepage header{background: linear-gradient(to bottom, rgba(20, 20, 20, .75), transparent);}
header a.header-logo .header-logo-image{display: block; width: 92px; height: 55px; background: url('../images/netflix-logo.svg') no-repeat center center; background-size: contain; will-change: transform; transition: .2s ease-in-out;}
.header-logo-image:hover{transform: scale(1.2); transform-origin: center;}
header ul.nav-links{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: auto; height: 100%; margin-left: 35px;}
header ul.nav-links li a{font-family: 'pier_sanslight'; color: #E5E5E5; font-size: 14px; margin: 0 10px; letter-spacing: .2px; transition: .2s ease-in-out;}
header u.nav-links li a:visited{color: #E5E5E5;}
header ul.nav-links li a:hover{color: #b3b3b3; cursor: pointer;}
header ul.nav-links li a.active-link{font-family: 'pier_sansbold';}
header .nav-actions-container{display: flex; flex-direction: row; justify-content: flex-end; align-items: center; margin-left: auto; padding-right: 66.5px;}
header .nav-actions-container .search-box{margin: 0 12.5px;}
header .nav-actions-container .notifications-container{margin: 0 14px;}
header .nav-actions-container .notifications-container .notifications-icon{position: relative; font-size: 28px;}
header .nav-actions-container .notifications-container .notifications-icon:after{content: '3'; display: flex; flex-direction: row; justify-content: center; align-items: center; width: 18px; height: 18px; border-radius: 100%; background: #B9090B; color: #fff; font-family: 'pier_sansbold'; font-size: 10px; position: absolute; top: -2px; right: -4px;}
header .nav-actions-container .profiles-container{margin: 0 0 0 10px;}
header .nav-actions-container .profiles-container .profile-picture{width: 32px; height: 32px; background: url('../images/dog.png') no-repeat; background-position: center center; background-size: contain; margin-right: 5px;}
header .nav-actions-container ul.secondary-links{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; height: 100%;}
header .nav-actions-container ul.secondary-links li a{font-family: 'pier_sanslight'; color: #E5E5E5; font-size: 14px; margin: 0 10px; letter-spacing: .2px; transition: .2s ease-in-out;}

/* Profile Selection Screen Styles */
.profile-mgmt-container{display: flex; flex-direction: column; justify-content: center; align-items: center; flex-basis: 100%; width: 100%; height: calc(100vh - 65px);}
h1{font-family: 'pier_sansregular'; font-size: 52px; text-align: center;padding-bottom: 20px;}
.profiles-container{display: flex; flex-direction: row; justify-content: space-around; align-items: center; flex-wrap: wrap; flex-basis: 100%; height: auto; max-height: 225px;}
.individual-profile{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex: 1; margin: 0 15px; text-decoration: none; transition: .2s ease-in-out;}
.individual-profile .profile-image{width: 150px; height: 150px; max-width: 150px; max-height: 150px; background: url('../images/dog.png') no-repeat center center; background-size: contain; border: 5px solid #1F1F1F; transition: .2s ease-in-out;}
.individual-profile:hover{cursor: pointer;}
.individual-profile:hover .profile-image{border-color: white;}
.individual-profile:hover h2{color: white;}
.individual-profile:nth-of-type(2) .profile-image{background: url('../images/face-red.png') no-repeat center center; background-size: contain;}
.individual-profile:nth-of-type(3) .profile-image{background: url('../images/face-green.png') no-repeat center center; background-size: contain;}
.individual-profile:nth-of-type(4) .profile-image{background: url('../images/face-yellow.png') no-repeat center center; background-size: contain;}
.individual-profile:nth-of-type(5) .profile-image{background: url('../images/kids-section.png') no-repeat center center; background-size: contain;}
.individual-profile h2{font-family: 'pier_sansregular'; font-size: 19px; color: #808080; padding-top: 15px; text-decoration: none; transition: .2s ease-in-out;}
a.profiles-button{display: flex; flex-direction: row; justify-content: center; align-items: center; font-family: 'pier_sansregular'; font-size: 16px; color: #808080; text-align: center; text-transform: uppercase; letter-spacing: 2.5px; text-decoration: none; white-space: nowrap; background: transparent; border: 1px solid #808080; width: 250px; height: 40px; margin-top: 80px;}
a.profiles-button:hover{color: white; border-color: white;}

/* Homepage Styles */
#featured-selection{display: flex; width: 100%; height: auto; padding-bottom: 52.25%; background: url('../images/stranger-things-featured.jpg') no-repeat; background-size: cover; background-position: center center; position: relative; overflow: hidden;}
#featured-selection:after{content: ''; width: 100%; height: 125px; background: linear-gradient(to top, #141414, transparent); position: absolute; bottom: 0; left: 0; z-index: 99;}
#featured-selection .featured-selection-content{display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100;}
#featured-selection .featured-actions-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; max-width: 40%; margin: 40px 0 0 60px;}
#featured-selection .featured-action-buttons{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;}
#featured-selection .featured-action-buttons button{display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 10px 35px; background: rgba(0, 0, 0, .35); box-shadow: 0; color: #e6e6e6; font-family: 'pier_sansbold'; font-size: 16px; margin-right: 10px; border-radius: 3px; outline: none; border: none; white-space: nowrap; will-change: transform; transition: .2s ease-in-out;}
#featured-selection .featured-action-buttons button#play-pause-button span{display: flex; justify-content: center; align-items: center; }
#featured-selection .featured-action-buttons button#play-pause-button .play-controls{display: none;}
#featured-selection .featured-action-buttons button#play-pause-button.pause-video .pause-controls{display: flex;}
#featured-selection .featured-action-buttons button#play-pause-button.pause-video .play-controls{display: none;}
#featured-selection .featured-action-buttons button#play-pause-button.play-video .pause-controls{display: none;}
#featured-selection .featured-action-buttons button#play-pause-button.play-video .play-controls{display: flex;}
#featured-selection .featured-action-buttons button:hover{transform: scale(1.05); transform-origin: center; background: #fff; color: #000; box-shadow: 0 15px 25px 0 rgba(10, 10, 10, .20); cursor: pointer;}
#featured-selection .featured-action-buttons button i{font-size: 28px; margin-right: 8px;}
#featured-selection .featured-actions-container p.featured-media-description{font-family: 'pier_sansregular'; font-size: 21px; line-height: 1.4; text-shadow: 5px 5px 12px #000;}
#featured-selection video{position: absolute; top: 0; left: 0; width: 100%; height: auto;}
.homepage main{width: 100%; max-width: 100%; padding-bottom: 100px;}

.list-row-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; margin: 0 0 45px 60px; width: calc(100% - 60px); height: auto; }
.list-row-container h2{font-family: 'pier_sansmedium'; font-size: 21px; color: #fff; margin-bottom: 15px;}
.list-row-container .list-row{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; height: auto;}
.list-row-container .list-row .list-item{width: calc((100% - 90px) / 6); margin-right: 5px; box-shadow: none; will-change: transform; transition: .35s ease-in-out; position: relative; z-index: 101;}
.list-row-container .list-row .list-item .list-item-media-bg-container{width: 100%; padding: 28.125% 0; height: 0; overflow: hidden; white-space: nowrap; position: relative;}
.list-row-container .list-row .list-item .list-item-media-bg{width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url('../images/ozark.jpg') no-repeat; background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:first-of-type:hover{transform-origin: center left;}
.list-row-container .list-row .list-item:last-of-type:hover{transform-origin: center right;}
.list-row-container .list-row .list-item:nth-of-type(2n) .list-item-media-bg{background: url('../images/the-office.webp') no-repeat;  background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:nth-of-type(3n) .list-item-media-bg{background: url('../images/stranger-things.jpg') no-repeat;  background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:nth-of-type(4n) .list-item-media-bg{background: url('../images/joe-rogan.jpg') no-repeat;  background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:nth-of-type(5n) .list-item-media-bg{background: url('../images/avengers.webp') no-repeat;  background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:nth-of-type(6n) .list-item-media-bg{background: url('../images/highway-men.jpg') no-repeat;  background-position: center; background-size: contain; }
.list-row-container .list-row .list-item:hover{transform: scale(1.75); transform-origin: center; box-shadow: 0 15px 35px 0 rgba(10, 10, 10, .85); cursor: pointer; z-index: 102;}


#new-releases-container{margin: -105px 0 45px 60px; position: relative; z-index: 100;}

#netflix-originals-container h2{text-transform: uppercase; letter-spacing: 1.2px;}
#netflix-originals-container .list-row .list-item .list-item-media-bg-container{padding: 100% 0;}
#netflix-originals-container .list-row .list-item .list-item-media-bg{background: url('../images/master-of-none.webp') no-repeat; background-position: center; background-size: contain;}
#netflix-originals-container .list-row .list-item:hover{transform: scale(1.2);}
#netflix-originals-container .list-row .list-item:nth-of-type(2n) .list-item-media-bg{background: url('../images/arrested-dev.webp') no-repeat; background-position: center; background-size: contain;}
#netflix-originals-container .list-row .list-item:nth-of-type(3n) .list-item-media-bg{background: url('../images/disappearance.webp') no-repeat; background-position: center; background-size: contain;}
#netflix-originals-container .list-row .list-item:nth-of-type(4n) .list-item-media-bg{background: url('../images/netlfix-original.webp') no-repeat; background-position: center; background-size: contain;}
footer{width: 100%; height: auto; min-height: 30vh;}



/* Media Queries */

@media screen and (max-width: 1000px) {
  header .nav-actions-container ul.secondary-links{display: none;}
  #featured-selection .featured-actions-container{width: 100%; max-width: 100%; align-items: center; margin: 40px 0 0 0;}
  #featured-selection .featured-actions-container p.featured-media-description{display: none;}
  .list-row-container .list-row{flex-wrap: wrap;}
  .list-row-container .list-row .list-item{min-width: 120px; margin-bottom: 5px;}
}

@media screen and (max-width: 876px){
  .homepage header{background: #000;}
  header a.header-logo .header-logo-image{width: 36px; height: 36px; background: url('../images/netflix-logo-small.svg') no-repeat center center; background-size: contain;}
  #featured-selection{margin-top: 65px;}
  #new-releases-container{margin: 0 0 45px 60px;}
}

@media screen and (max-width: 540px){
  header{padding: 0 0 0 20px;}
  #new-releases-container{margin: 0 0 45px 20px;}
  .list-row-container{width: calc(100% - 26.5px); margin: 0 0 40px 20px;}
  .list-row-container .list-row .list-item{width: calc((100% - 50px) / 6); flex-grow: 1;}
  .list-row-container .list-row .list-item:hover{transform: none; box-shadow: none;}
}